body {
    background:#200024ef;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff
}

nav:hover {
    color: #8768a8
}

h1, h2 {
    font-family: "Audiowide", sans-serif;
    font-weight: lighter;
}

/*.cabeçalho {
    align-items: center;
    list-style-type: none;
    padding: 45px;
    font-size: 40px;
    justify-content: space-between;
    display: flex;
}

#sobre {
    width: 70 px;
    height: 50px;
    text-align: center;
}*/